Repository boostcampwm2023/iOS01-MusicSpot, pull requests merged in 2023-11, with the labels that each got.

#1 [MGT-19] gitmoji 설정 & gitignore 추가 & githook 환경 세팅
  .gitignore
  .gitmojirc.json
  BE/.githooks/pre-commit
  iOS/.githooks/pre-commit
  setup
Labels: 🛠️ 환경 세팅

#18 [Bump Up] `main` 브랜치 변경 사항 `iOS release` 브랜치에 적용
  .gitignore
  .gitmojirc.json
  BE/.githooks/pre-commit
  iOS/.githooks/pre-commit
  setup
Labels: 🛠️ 환경 세팅

#21 [MGT-18] iOS 프로젝트 생성
  iOS/MaybeGamsung/MaybeGamsung.xcodeproj/project.pbxproj
  iOS/MaybeGamsung/MaybeGamsung.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/MaybeGamsung/MaybeGamsung.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MaybeGamsung/MaybeGamsung.xcodeproj/project.xcworkspace/xcuserdata/nomatterjun.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/MaybeGamsung/MaybeGamsung.xcodeproj/xcuserdata/nomatterjun.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/MaybeGamsung/MaybeGamsung/AppDelegate.swift
  iOS/MaybeGamsung/MaybeGamsung/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/MaybeGamsung/MaybeGamsung/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/MaybeGamsung/MaybeGamsung/Assets.xcassets/Contents.json
  iOS/MaybeGamsung/MaybeGamsung/Base.lproj/LaunchScreen.storyboard
  iOS/MaybeGamsung/MaybeGamsung/Base.lproj/Main.storyboard
  iOS/MaybeGamsung/MaybeGamsung/Info.plist
  iOS/MaybeGamsung/MaybeGamsung/SceneDelegate.swift
  iOS/MaybeGamsung/MaybeGamsung/ViewController.swift
Labels: 🛠️ 환경 세팅, 🍎 iOS

#19 [Chore] 리드미 꾸미기
  README.md
Labels: 📝 독스 작성

#23 [MGT-30] SwiftLint/SwiftFormat 적용
  iOS/MaybeGamsung/.swift-version
  iOS/MaybeGamsung/.swiftformat
  iOS/MaybeGamsung/.swiftlint.yml
  iOS/MaybeGamsung/MaybeGamsung.xcodeproj/project.pbxproj
  iOS/MaybeGamsung/MaybeGamsung/AppDelegate.swift
  iOS/MaybeGamsung/MaybeGamsung/SceneDelegate.swift
  iOS/MaybeGamsung/MaybeGamsung/ViewController.swift
Labels: 🧹 코드 정리, 🛠️ 환경 세팅, 🍎 iOS

#32 📝 회의록 링크 수정
  README.md
Labels: 📝 독스 작성

#60 [BE] swagger 설정
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/main.ts
Labels: 🛠️ 환경 세팅

#63 [iOS] 프로젝트 생성
  iOS/.gitignore
  iOS/MSCoreKit/.gitignore
  iOS/MSCoreKit/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheStorage.swift
  iOS/MSCoreKit/Sources/MSFetcher/MSFetcher.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSNetworking.swift
  iOS/MSCoreKit/Sources/MSPersistentStorage/MSPersistentStorage.swift
  iOS/MSCoreKit/Tests/MSCacheStorageTests/MSCacheStorageTests.swift
  iOS/MSCoreKit/Tests/MSFetcherTests/MSFetcherTests.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSNetworkingTests.swift
  iOS/MSCoreKit/Tests/MSPersistentStorageTests/MSPersistentStorageTests.swift
  iOS/MSFoundation/.gitignore
  iOS/MSFoundation/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/FoundationExt.xcscheme
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSFoundation-Package.xcscheme
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSFoundation.xcscheme
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSLogger.xcscheme
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSLoggerTests.xcscheme
  iOS/MSFoundation/Package.swift
  iOS/MSFoundation/Sources/FoundationExt/String+.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogger.swift
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsStorage.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MSFoundation/Tests/MSUserDefaultsTests/MSUserDefaultsTests.swift
  iOS/MSUIKit/.gitignore
  iOS/MSUIKit/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/MSDesignSystem/MSDesignSystem.swift
  iOS/MSUIKit/Sources/MSUIComponents/MSUIComponents.swift
  iOS/MSUIKit/Tests/gitkeep
  iOS/MusicSpot/MusicSpot/AppDelegate.swift
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/1024.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/114.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/120.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/180.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/29.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/40.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/57.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/58.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/60.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/80.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/87.png
  iOS/MusicSpot/MusicSpot/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/MusicSpot/MusicSpot/Assets.xcassets/Contents.json
  iOS/MusicSpot/MusicSpot/Assets.xcassets/logo.imageset/Contents.json
  iOS/MusicSpot/MusicSpot/Assets.xcassets/logo.imageset/logo.pdf
  iOS/MusicSpot/MusicSpot/Base.lproj/LaunchScreen.storyboard
  iOS/MusicSpot/MusicSpot/Info.plist
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
  iOS/MusicSpot/MusicSpot/ko.lproj/LaunchScreen.strings
Labels: 🛠️ 환경 세팅

#65 SwiftLint, SwiftFormatter 적용
  .gitignore
  iOS/.githooks/pre-commit
  iOS/.gitignore
  iOS/.swiftlint.yml
  iOS/MSCoreKit/.gitignore
  iOS/MSCoreKit/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Tests/MSPersistentStorageTests/MSPersistentStorageTests.swift
  iOS/MSFoundation/.gitignore
  iOS/MSFoundation/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MSFoundation/Package.swift
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsStorage.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MSUIKit/.gitignore
  iOS/MSUIKit/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MSUIKit/Package.swift
  iOS/MusicSpot/.swift-version
  iOS/MusicSpot/.swiftformat
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MusicSpot/MusicSpot/AppDelegate.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
  iOS/commit
Labels: 🛠️ 환경 세팅

#79 [BE] journal 추가 api
  BE/musicspot/.eslintrc.js
  BE/musicspot/.gitignore
  BE/musicspot/.prettierrc
  BE/musicspot/README.md
  BE/musicspot/nest-cli.json
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/app.controller.spec.ts
  BE/musicspot/src/app.controller.ts
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/app.service.ts
  BE/musicspot/src/journals/dto/journalStart.dto.ts
  BE/musicspot/src/journals/journals.controller.spec.ts
  BE/musicspot/src/journals/journals.controller.ts
  BE/musicspot/src/journals/journals.module.ts
  BE/musicspot/src/journals/journals.schema.ts
  BE/musicspot/src/journals/journals.service.spec.ts
  BE/musicspot/src/journals/journals.service.ts
  BE/musicspot/src/main.ts
  BE/musicspot/test/app.e2e-spec.ts
  BE/musicspot/test/jest-e2e.json
  BE/musicspot/tsconfig.build.json
  BE/musicspot/tsconfig.json
Labels: ✨ 신규 기능

#80 [BE] journal 추가 시 journal ID 추가 기능 구현
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/journals/journals.controller.ts
  BE/musicspot/src/journals/journals.module.ts
  BE/musicspot/src/journals/journals.schema.ts
  BE/musicspot/src/journals/journals.service.spec.ts
  BE/musicspot/src/journals/journals.service.ts
  BE/musicspot/src/person/person.controller.spec.ts
  BE/musicspot/src/person/person.controller.ts
  BE/musicspot/src/person/person.module.ts
  BE/musicspot/src/person/person.schema.ts
  BE/musicspot/src/person/person.service.spec.ts
  BE/musicspot/src/person/person.service.ts
Labels: ✨ 신규 기능

#81 [BE] start journal
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/app.controller.spec.ts
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/journals/dto/journalStart.dto.ts
  BE/musicspot/src/journals/journals.controller.spec.ts
  BE/musicspot/src/journals/journals.controller.ts
  BE/musicspot/src/journals/journals.module.ts
  BE/musicspot/src/journals/journals.schema.ts
  BE/musicspot/src/journals/journals.service.spec.ts
  BE/musicspot/src/journals/journals.service.ts
  BE/musicspot/src/main.ts
  BE/musicspot/src/person/person.controller.spec.ts
  BE/musicspot/src/person/person.controller.ts
  BE/musicspot/src/person/person.module.ts
  BE/musicspot/src/person/person.schema.ts
  BE/musicspot/src/person/person.service.spec.ts
  BE/musicspot/src/person/person.service.ts
Labels: ✨ 신규 기능

#82 [BE] spot 기록(사진x)
  BE/musicspot/.eslintrc.js
  BE/musicspot/.gitignore
  BE/musicspot/.prettierrc
  BE/musicspot/README.md
  BE/musicspot/nest-cli.json
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/app.controller.spec.ts
  BE/musicspot/src/app.controller.ts
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/app.service.ts
  BE/musicspot/src/journals/dto/journalStart.dto.ts
  BE/musicspot/src/journals/journals.controller.spec.ts
  BE/musicspot/src/journals/journals.controller.ts
  BE/musicspot/src/journals/journals.module.ts
  BE/musicspot/src/journals/journals.schema.ts
  BE/musicspot/src/journals/journals.service.spec.ts
  BE/musicspot/src/journals/journals.service.ts
  BE/musicspot/src/main.ts
  BE/musicspot/src/person/person.controller.spec.ts
  BE/musicspot/src/person/person.controller.ts
  BE/musicspot/src/person/person.module.ts
  BE/musicspot/src/person/person.schema.ts
  BE/musicspot/src/person/person.service.spec.ts
  BE/musicspot/src/person/person.service.ts
  BE/musicspot/src/spots/dto/recordSpot.dto.ts
  BE/musicspot/src/spots/spots.controller.spec.ts
  BE/musicspot/src/spots/spots.controller.ts
  BE/musicspot/src/spots/spots.module.ts
  BE/musicspot/src/spots/spots.schema.ts
  BE/musicspot/src/spots/spots.service.spec.ts
  BE/musicspot/src/spots/spots.service.ts
  BE/musicspot/test/app.e2e-spec.ts
  BE/musicspot/test/jest-e2e.json
  BE/musicspot/tsconfig.build.json
  BE/musicspot/tsconfig.json
Labels: ✨ 신규 기능

#68 [iOS] MSLogger 구현
  .DS_Store
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogger.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
Labels: ✨ 신규 기능

#86 [BE] collection 이름 수정 및 리팩토링
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/journals/journals.module.ts
  BE/musicspot/src/journals/journals.service.spec.ts
  BE/musicspot/src/journals/journals.service.ts
  BE/musicspot/src/journey/dto/journeyStart.dto.ts
  BE/musicspot/src/journey/journey.controller.spec.ts
  BE/musicspot/src/journey/journey.controller.ts
  BE/musicspot/src/journey/journey.module.ts
  BE/musicspot/src/journey/journey.schema.ts
  BE/musicspot/src/journey/journey.service.spec.ts
  BE/musicspot/src/journey/journey.service.ts
  BE/musicspot/src/main.ts
  BE/musicspot/src/person/person.controller.ts
  BE/musicspot/src/person/person.module.ts
  BE/musicspot/src/person/person.schema.ts
  BE/musicspot/src/person/person.service.spec.ts
  BE/musicspot/src/person/person.service.ts
  BE/musicspot/src/user/user.controller.spec.ts
  BE/musicspot/src/user/user.controller.ts
  BE/musicspot/src/user/user.module.ts
  BE/musicspot/src/user/user.schema.ts
  BE/musicspot/src/user/user.service.spec.ts
  BE/musicspot/src/user/user.service.ts
Labels: ♻️ 리팩토링

#87 [BE] record spot (사진x)
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/journals/journals.module.ts
  BE/musicspot/src/journals/journals.service.spec.ts
  BE/musicspot/src/journals/journals.service.ts
  BE/musicspot/src/journey/dto/journeyStart.dto.ts
  BE/musicspot/src/journey/journey.controller.spec.ts
  BE/musicspot/src/journey/journey.controller.ts
  BE/musicspot/src/journey/journey.module.ts
  BE/musicspot/src/journey/journey.schema.ts
  BE/musicspot/src/journey/journey.service.spec.ts
  BE/musicspot/src/journey/journey.service.ts
  BE/musicspot/src/main.ts
  BE/musicspot/src/person/person.controller.ts
  BE/musicspot/src/person/person.module.ts
  BE/musicspot/src/person/person.schema.ts
  BE/musicspot/src/person/person.service.spec.ts
  BE/musicspot/src/person/person.service.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/spot.controller.spec.ts
  BE/musicspot/src/spot/spot.controller.ts
  BE/musicspot/src/spot/spot.module.ts
  BE/musicspot/src/spot/spot.schema.ts
  BE/musicspot/src/spot/spot.service.spec.ts
  BE/musicspot/src/spot/spot.service.ts
  BE/musicspot/src/spots/spots.module.ts
  BE/musicspot/src/spots/spots.service.ts
  BE/musicspot/src/user/user.controller.spec.ts
  BE/musicspot/src/user/user.controller.ts
  BE/musicspot/src/user/user.module.ts
  BE/musicspot/src/user/user.schema.ts
  BE/musicspot/src/user/user.service.spec.ts
  BE/musicspot/src/user/user.service.ts
Labels: ✨ 신규 기능

#66 [iOS] MSUserDefaults 구현
  iOS/.githooks/pre-commit
  iOS/.swiftlint.yml
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSUserDefaultsTests.xcscheme
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsStorage.swift
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsWrapped.swift
  iOS/MSFoundation/Tests/MSUserDefaultsTests/FakeCodableData.swift
  iOS/MSFoundation/Tests/MSUserDefaultsTests/MSUserDefaultsTests.swift
  iOS/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: ✨ 신규 기능

#90 [BE] 보안 및 docker 추가
  BE/musicspot/.dockerignore
  BE/musicspot/Dockerfile
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/journey/journey.service.spec.ts
  BE/musicspot/src/user/user.service.spec.ts
Labels: 🛠️ 환경 세팅

#91 [BE] 여정 삭제 api 구현 및 github action 일부
  .github/workflows/action.yml
  BE/musicspot/.env
  BE/musicspot/src/journey/dto/journeyEnd.dto.ts
  BE/musicspot/src/journey/journey.controller.ts
  BE/musicspot/src/journey/journey.service.ts
  package-lock.json
  package.json
Labels: ✨ 신규 기능, 🛠️ 환경 세팅

#92 [BE] ✨ : spot 기록 시 storage에 사진 추가 및 URL 반환하는 기능 추가
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/spot.controller.ts
  BE/musicspot/src/spot/spot.schema.ts
  BE/musicspot/src/spot/spot.service.spec.ts
  BE/musicspot/src/spot/spot.service.ts
  BE/musicspot/src/spot/test/test.png
Labels: ✨ 신규 기능

#93 [BE] ♻️ : 여정 시작 api 수정
  BE/musicspot/src/journey/dto/journeyStart.dto.ts
  BE/musicspot/src/journey/journey.controller.spec.ts
  BE/musicspot/src/journey/journey.schema.ts
  BE/musicspot/src/journey/journey.service.spec.ts
  BE/musicspot/src/journey/journey.service.ts
Labels: ♻️ 리팩토링

#97 [BE] 여정 기록 api
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/journey/journey.controller.spec.ts
  BE/musicspot/src/journey/journey.controller.ts
  BE/musicspot/src/journey/journey.schema.ts
  BE/musicspot/src/journey/journey.service.spec.ts
  BE/musicspot/src/journey/journey.service.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/spot.controller.spec.ts
  BE/musicspot/src/spot/spot.controller.ts
  BE/musicspot/src/spot/spot.module.ts
  BE/musicspot/src/spot/spot.schema.ts
  BE/musicspot/src/spot/spot.service.spec.ts
  BE/musicspot/src/spot/spot.service.ts
  BE/musicspot/src/spot/test/test.png
Labels: ✨ 신규 기능

#71 [iOS] MSCacheStorage
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheStorage.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheableData.swift
  iOS/MSCoreKit/Tests/MSCacheStorageTests/MSCacheStorageTests.swift
  iOS/MSFoundation/Tests/MSUserDefaultsTests/FakeCodableData.swift
  iOS/commit
Labels: ✨ 신규 기능

#99 [BE] ✨ : 실시간 위치 기록 api 구현
  BE/musicspot/.gitignore
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/journey/dto/journeyRecord.dto.ts
  BE/musicspot/src/journey/journey.controller.ts
  BE/musicspot/src/journey/journey.service.spec.ts
  BE/musicspot/src/journey/journey.service.ts
  BE/musicspot/src/main.ts
Labels: ✨ 신규 기능

#69 [iOS] MSNetworking 모듈 추가
  .gitignore
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/CoordinateDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/JourneyMetadataDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/SongDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/SpotDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/JourneyDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/PersonDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPBody.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPMethod.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSNetworkError.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSNetworking.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSRouter.swift
  iOS/MSCoreKit/Sources/MSNetworking/Protocol/Router.swift
  iOS/MSCoreKit/Sources/MSNetworking/Session.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSNetworkingTests.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/Mock/MockMSNetworking.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/Mock/MockRouter.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
Labels: ✨ 신규 기능

#100 [iOS] Foundation & CoreKit
  .DS_Store
  .gitignore
  iOS/.githooks/pre-commit
  iOS/.swiftlint.yml
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheStorage.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheableData.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/CoordinateDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/JourneyMetadataDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/SongDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/SpotDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/JourneyDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/PersonDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPBody.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPMethod.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSNetworkError.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSNetworking.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSRouter.swift
  iOS/MSCoreKit/Sources/MSNetworking/Protocol/Router.swift
  iOS/MSCoreKit/Sources/MSNetworking/Session.swift
  iOS/MSCoreKit/Tests/MSCacheStorageTests/MSCacheStorageTests.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSNetworkingTests.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/Mock/MockMSNetworking.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/Mock/MockRouter.swift
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSUserDefaultsTests.xcscheme
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogger.swift
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsStorage.swift
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsWrapped.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MSFoundation/Tests/MSUserDefaultsTests/FakeCodableData.swift
  iOS/MSFoundation/Tests/MSUserDefaultsTests/MSUserDefaultsTests.swift
  iOS/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/commit
Labels: ✨ 신규 기능

#88 [iOS] TextField UIComponent 구현
  .gitignore
  iOS/.githooks/pre-commit
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/CoordinateDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/JourneyMetadataDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/SongDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/Fragment/SpotDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/JourneyDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/DTO/PersonDTO.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPBody.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPMethod.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSNetworkError.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSNetworking.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSRouter.swift
  iOS/MSCoreKit/Sources/MSNetworking/Protocol/Router.swift
  iOS/MSCoreKit/Sources/MSNetworking/Session.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSNetworkingTests.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/Mock/MockMSNetworking.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/Mock/MockRouter.swift
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSUserDefaultsTests.xcscheme
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogger.swift
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsStorage.swift
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsWrapped.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MSFoundation/Tests/MSUserDefaultsTests/FakeCodableData.swift
  iOS/MSFoundation/Tests/MSUserDefaultsTests/MSUserDefaultsTests.swift
  iOS/MSUIKit/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MSUIKit/Sources/MSDesignSystem/MSFont.swift
  iOS/MSUIKit/Sources/MSDesignSystem/MSIcon.swift
  iOS/MSUIKit/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Calender.imageset/Calender.pdf
  iOS/MSUIKit/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Calender.imageset/Contents.json
  iOS/MSUIKit/Sources/MSUIKit/MSTextField/MSTextField.swift
  iOS/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
Labels: 🎨 UI

#102 [BE] 스웨거 api 수정 및 폴더 구조 리팩토링
  BE/musicspot/.env
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/journey/controller/journey.controller.spec.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyStart.dto.ts
  BE/musicspot/src/journey/journey.service.spec.ts
  BE/musicspot/src/journey/module/journey.module.ts
  BE/musicspot/src/journey/schema/journey.schema.ts
  BE/musicspot/src/journey/service/journey.service.spec.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/controller/spot.controller.spec.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/module/spot.module.ts
  BE/musicspot/src/spot/schema/spot.schema.ts
  BE/musicspot/src/spot/service/spot.service.spec.ts
  BE/musicspot/src/spot/service/spot.service.ts
  BE/musicspot/src/user/controller/user.controller.spec.ts
  BE/musicspot/src/user/controller/user.controller.ts
  BE/musicspot/src/user/module/user.module.ts
  BE/musicspot/src/user/schema/user.schema.ts
  BE/musicspot/src/user/serivce/user.service.spec.ts
  BE/musicspot/src/user/serivce/user.service.ts
Labels: 🛠️ 환경 세팅, ♻️ 리팩토링

#109 [BE] ✨ : 배포를 위한 페이지 제작
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/public/release.html
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/main.ts
  BE/musicspot/src/releasePage/release.controller.ts
Labels: ✨ 신규 기능

#115 [BE] ✨ : github action 기능 추가
  .github/workflows/action.yml
Labels: 🛠️ 환경 세팅

#116 Update action.yml
  .github/workflows/action.yml
Labels: 🛠️ 환경 세팅

#117 Update action.yml
  .github/workflows/action.yml
Labels: 🛠️ 환경 세팅

#118 Update action.yml
  .github/workflows/action.yml
Labels: 🛠️ 환경 세팅

#119 [BE] ♻️ : swagger 수정(github action test)
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
Labels: ♻️ 리팩토링

#121 [iOS] iOS CI 구축
  .github/workflows/Xcode_build_test.yml
  iOS/Features/SaveJourney/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSCacheStorage.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSCacheStorageTests.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSFetcher.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSFetcherTests.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSNetworking.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSNetworkingTests.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSPersistentStorage.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSPersistentStorageTests.xcscheme
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSNetworkingTests.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/Mock/MockMSNetworking.swift
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSFoundation-Package.xcscheme
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Tests/MSDesignSystemTests/MSDesignSystemTests.swift
  iOS/MSUIKit/Tests/gitkeep
  iOS/MusicSpot.xcworkspace/contents.xcworkspacedata
Labels: 🛠️ 환경 세팅

#89 [iOS] MSBottomSheetViewController
  iOS/MSUIKit/Sources/MSUIKit/MSBottomSheetViewController.swift
  iOS/MSUIKit/Sources/MSUIKit/MSUIComponents.swift
Labels: 🎨 UI

#127 [BE] ✨ : 여정 마무리 api
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord.dto.ts
  BE/musicspot/src/journey/dto/journeyStart.dto.ts
  BE/musicspot/src/journey/schema/journey.schema.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
Labels: ✨ 신규 기능

#126 [BE] 여정 조회 API
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/service/spot.service.spec.ts
Labels: ✨ 신규 기능

#129 [iOS] Workspace & CI 적용
  .github/workflows/Xcode_build_test.yml
  iOS/Features/HomeMap/.gitignore
  iOS/Features/HomeMap/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/HomeMap/Package.swift
  iOS/Features/HomeMap/Sources/HomeMap/HomeMap.swift
  iOS/Features/JourneyList/.gitignore
  iOS/Features/JourneyList/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/JourneyList/Package.swift
  iOS/Features/JourneyList/Sources/JourneyList/JourneyList.swift
  iOS/Features/RecordJourney/.gitignore
  iOS/Features/RecordJourney/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/RecordJourney/Package.swift
  iOS/Features/RecordJourney/Sources/RecordJourney/RecordJourney.swift
  iOS/Features/RewindJourney/.gitignore
  iOS/Features/RewindJourney/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/RewindJourney/Package.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourney.swift
  iOS/Features/RewindJourney/Tests/RewindJourneyTests/RewindJourneyTests.swift
  iOS/Features/SaveJourney/.gitignore
  iOS/Features/SaveJourney/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/SaveJourney/Package.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/SaveJourney.swift
  iOS/Features/SelectSong/.gitignore
  iOS/Features/SelectSong/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/SelectSong/Package.swift
  iOS/Features/SelectSong/Sources/SelectSong/SelectSong.swift
  iOS/Features/Spot/.gitignore
  iOS/Features/Spot/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/Spot/Package.swift
  iOS/Features/Spot/Sources/Spot/Spot.swift
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSCacheStorage.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSFetcher.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSNetworking.xcscheme
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSPersistentStorage.xcscheme
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheStorage.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheableData.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSImageCacheStorage.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/Protocol/CacheStorage.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSRouter.swift
  iOS/MSData/.gitignore
  iOS/MSData/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MSData/.swiftpm/xcode/xcshareddata/xcschemes/MSData.xcscheme
  iOS/MSData/.swiftpm/xcode/xcshareddata/xcschemes/MSDataTests.xcscheme
  iOS/MSData/Package.swift
  iOS/MSData/Sources/MSData/MSData.swift
  iOS/MSData/Tests/MSDataTests/MSDataTests.swift
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSLogger.xcscheme
  iOS/MSFoundation/.swiftpm/xcode/xcshareddata/xcschemes/MSUserDefaults.xcscheme
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Calendar.imageset/Calender.pdf
  iOS/MSUIKit/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Calendar.imageset/Contents.json
  iOS/MSUIKit/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Calender.imageset/Calender.pdf
  iOS/MSUIKit/Tests/MSDesignSystemTests/MSDesignSystemTests.swift
  iOS/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot.xcodeproj/xcshareddata/xcschemes/MusicSpot.xcscheme
  iOS/commit
Labels: 🛠️ 환경 세팅

#139 [BE} ♻️ : config 파일 제거
  BE/musicspot/.env
  BE/musicspot/src/app.module.ts
Labels: ♻️ 리팩토링

#134 [BE] 예외 처리 및 스웨거 응답 부분 추가
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck.dto.ts
  BE/musicspot/src/journey/dto/journeyCheckResponse.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyEndResponse.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ✨ 신규 기능, ♻️ 리팩토링

#133 [BE] ♻️ : spot 기록 이미지 데이터 형식 수정
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ♻️ 리팩토링

#136 [BE] ✨ : exception filter 적용
  BE/musicspot/src/filters/base.exception.interface.ts
  BE/musicspot/src/filters/base.exception.ts
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/exception.filter.ts
  BE/musicspot/src/filters/journey.exception.ts
  BE/musicspot/src/filters/unexpected.exception.ts
Labels: ✨ 신규 기능

#141 [BE] ♻️ : journey관련 exception 추가
  BE/musicspot/.env
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/filters/base.exception.interface.ts
  BE/musicspot/src/filters/base.exception.ts
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/exception.filter.ts
  BE/musicspot/src/filters/journey.exception.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck.dto.ts
  BE/musicspot/src/journey/dto/journeyCheckResponse.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyEndResponse.dto.ts
  BE/musicspot/src/journey/service/journey.service.spec.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/main.ts
Labels: ♻️ 리팩토링

#142 [BE] ♻️ : journey 관련 예외처리 수행
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/filters/base.exception.interface.ts
  BE/musicspot/src/filters/base.exception.ts
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/exception.filter.ts
  BE/musicspot/src/filters/journey.exception.ts
  BE/musicspot/src/filters/unexpected.exception.ts
  BE/musicspot/src/journey/service/journey.service.spec.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/main.ts
Labels: ♻️ 리팩토링

#146 [BE]예외 필터 수정
  BE/musicspot/src/filters/exception.filter.ts
Labels: ♻️ 리팩토링

#135 [iOS] Coordinator 패턴을 적용한 구조 구현
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MusicSpot/MusicSpot/MSCoordinator/AppCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeMapCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/Protocol/Coordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SaveJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SearchMusicCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SettingCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
  iOS/MusicSpot/MusicSpot/TempViewController/HomeMapViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/RewindViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SaveJourneyViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SearchMusicViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SettingViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SpotViewController.swift
Labels: ✨ 신규 기능

#150 [BE] winston logger 추가
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/common/logger/winston.util.ts
  BE/musicspot/src/main.ts
Labels: 🛠️ 환경 세팅

#152 [BE] logger 추가
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/common/logger/winston.util.ts
  BE/musicspot/src/main.ts
Labels: 🛠️ 환경 세팅

#151 [BE] spotid로 spot 가져오기 get 요청 구현 및 예외처리
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/spot.exception.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/schema/spot.schema.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ✨ 신규 기능, ♻️ 리팩토링

#94 [iOS] HomeMapScene에 대한 UI 및 Polyline 드로잉 구현
  iOS/Features/Home/Sources/NavigateMap/Model/NavigateMapModel.swift
  iOS/Features/Home/Sources/NavigateMap/NavigateMap.swift
  iOS/Features/Home/Sources/NavigateMap/View/CustomMarkerAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/View/MapView.swift
  iOS/Features/Home/Sources/NavigateMap/View/NavigateMapButtonView.swift
  iOS/Features/Home/Sources/NavigateMap/View/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/ViewModel/NavigateMapViewModel.swift
  iOS/Features/HomeMapScene/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/Features/HomeMapScene/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/HomeMapScene/Package.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/Model/HomeMapModel.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/CustomMarkerAnnotation.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/HomeMapButtonView.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/HomeMapViewController.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/MapView.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/ViewModel/HomeMapViewModel.swift
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheableData.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSRouter.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/Info.plist
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeMapCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
  iOS/MusicSpot/MusicSpot/TempViewController/HomeMapViewController.swift
Labels: 🎨 UI

#157 [BE] 응답 수정
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/common/logger/winston.util.ts
  BE/musicspot/src/common/middleware/logger.middleware.ts
  BE/musicspot/src/filters/exception.filter.ts
  BE/musicspot/src/main.ts
Labels: ♻️ 리팩토링

#153 [iOS] RewindJourney Scene UI
  iOS/.swiftlint.yml
  iOS/Features/RewindJourney/Sources/RewindJourneyView/MSMusicView.swift
  iOS/Features/RewindJourney/Sources/RewindJourneyView/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourneyView/RewindJourneyViewController.swift
  iOS/Features/Spot/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSRouter.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MSUIKit/Sources/MSUIKit/MSUIComponents.swift
  iOS/commit
Labels: 🎨 UI

#154 [iOS] HomeScene 적용
  iOS/Features/Home/Sources/NavigateMap/Model/NavigateMapModel.swift
  iOS/Features/Home/Sources/NavigateMap/NavigateMap.swift
  iOS/Features/Home/Sources/NavigateMap/View/CustomMarkerAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/View/MapView.swift
  iOS/Features/Home/Sources/NavigateMap/View/NavigateMapButtonView.swift
  iOS/Features/Home/Sources/NavigateMap/View/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/ViewModel/NavigateMapViewModel.swift
  iOS/Features/HomeMapScene/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/Features/HomeMapScene/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/HomeMapScene/Package.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/Model/HomeMapModel.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/CustomMarkerAnnotation.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/HomeMapButtonView.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/HomeMapViewController.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/MapView.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/ViewModel/HomeMapViewModel.swift
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheableData.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSCoreKit/Sources/MSNetworking/MSRouter.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/Info.plist
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeMapCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
  iOS/MusicSpot/MusicSpot/TempViewController/HomeMapViewController.swift
Labels: ✨ 신규 기능

#159 [iOS] 여정 조회 Scene 적용
  iOS/.swiftlint.yml
  iOS/Features/RewindJourney/Sources/RewindJourneyView/MSMusicView.swift
  iOS/Features/RewindJourney/Sources/RewindJourneyView/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourneyView/RewindJourneyViewController.swift
  iOS/Features/Spot/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSUIKit/Sources/MSUIKit/MSUIComponents.swift
  iOS/commit
Labels: ✨ 신규 기능

#161 [iOS] SpotScene 컨플릭트 해소
  iOS/Features/Home/Sources/NavigateMap/Model/NavigateMapModel.swift
  iOS/Features/Home/Sources/NavigateMap/NavigateMap.swift
  iOS/Features/Home/Sources/NavigateMap/View/CustomMarkerAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/View/MapView.swift
  iOS/Features/Home/Sources/NavigateMap/View/NavigateMapButtonView.swift
  iOS/Features/Home/Sources/NavigateMap/View/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/ViewModel/NavigateMapViewModel.swift
  iOS/Features/HomeMapScene/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/Features/HomeMapScene/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/HomeMapScene/Package.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/Model/HomeMapModel.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/CustomMarkerAnnotation.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/HomeMapButtonView.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/HomeMapViewController.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/View/MapView.swift
  iOS/Features/HomeMapScene/Sources/HomeMapScene/ViewModel/HomeMapViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourneyView/MSMusicView.swift
  iOS/Features/RewindJourney/Sources/RewindJourneyView/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourneyView/RewindJourneyViewController.swift
  iOS/Features/Spot/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheableData.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MusicSpot/MusicSpot/Info.plist
  iOS/MusicSpot/MusicSpot/MSCoordinator/AppCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeMapCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/Protocol/Coordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SaveJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SearchMusicCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SettingCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
  iOS/MusicSpot/MusicSpot/TempViewController/HomeMapViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/RewindViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SaveJourneyViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SearchMusicViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SettingViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SpotViewController.swift
  iOS/commit
Labels: 🧹 코드 정리

#164 [BE] exception filter 응답 수정
  BE/musicspot/src/filters/exception.filter.ts
Labels: 🐞 버그 픽스
