Repository boostcampwm2023/iOS01-MusicSpot, pull requests merged in 2023-12, with the labels that each got.

#166 [iOS] Coordinator 적용
  iOS/Features/Home/Package.swift
  iOS/Features/Home/Sources/Home/HomeBottomSheetViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/CustomMarkerAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/MapView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/NavigateMapButtonView.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSMusicView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourney.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewController.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/SpotPhotoImageView.swift
  iOS/MSUIKit/Sources/MSUIKit/MSBottomSheetViewController.swift
  iOS/MSUIKit/Sources/MSUIKit/MSUIComponents.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/MSCoordinator/AppCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeMapCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SaveJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SearchMusicCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SettingCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
  iOS/MusicSpot/MusicSpot/TempViewController/HomeMapViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/RewindViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SaveJourneyViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SearchMusicViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SettingViewController.swift
  iOS/MusicSpot/MusicSpot/TempViewController/SpotViewController.swift
Labels: ✨ 신규 기능

#170 [iOS] 여정 목록 UI 수정
  iOS/Features/Home/Package.swift
  iOS/Features/Home/Sources/Home/HomeBottomSheetViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/JourneyList/.swiftpm/xcode/xcshareddata/xcschemes/JourneyList.xcscheme
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/JourneyListHeaderView.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/MSCollectionView.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/MSUIKit/MSBottomSheetViewController/BottomSheetConfiguration.swift
  iOS/MSUIKit/Sources/MSUIKit/MSBottomSheetViewController/MSBottomSheetViewController.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
Labels: 🐞 버그 픽스, 🎨 UI

#172 [iOS] ImageFetcher 구현
  iOS/Features/JourneyList/Package.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/JourneyListHeaderView.swift
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheError.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheStorage.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheableData.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/Protocol/CacheStorage.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/MSImageFetcher.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/MSImageFetcherWrapper.swift
  iOS/MSCoreKit/Tests/MSCacheStorageTests/MSCacheStorageTests.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/Journey.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/JourneyCell.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/Spot.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/SpotPhotoImageView.swift
  iOS/MSUIKit/Sources/MSUIKit/MSImageFetcher/MSImageFetcher+UIImageView.swift
  iOS/MusicSpot/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: ✨ 신규 기능

#188 [iOS] RewindJourney 자동 재생 비즈니스 로직
  iOS/Features/RewindJourney/Package.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/AppDelegate.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/SceneDelegate.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewModel.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
Labels: 🧹 코드 정리, ✨ 신규 기능

#186 [iOS] NavigateMap 비즈니스 로직 구현 진행 중
  iOS/Features/Home/HomeDemo/HomeDemo/ViewController.swift
  iOS/Features/Home/Package.swift
  iOS/Features/Home/Sources/Home/HomeBottomSheetViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Model/NavigateMapModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/NavigateMapButtonView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/RecordJourneyButtonView.swift
  iOS/Features/Home/Sources/RecordJourney/RecordJourney.swift
  iOS/Features/JourneyList/.swiftpm/xcode/xcshareddata/xcschemes/JourneyList.xcscheme
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/JourneyListHeaderView.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/MSCollectionView.swift
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/SceneDelegate.swift
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/ViewController.swift
  iOS/Features/Spot/Sources/Spot/SpotSaveViewController.swift
  iOS/MSData/Sources/MSData/Repository/NavigateMapRepository.swift
  iOS/MSFoundation/Sources/MSConstants/UserDefaultsKey.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/MSUIKit/MSBottomSheetViewController/BottomSheetConfiguration.swift
  iOS/MSUIKit/Sources/MSUIKit/MSBottomSheetViewController/MSBottomSheetViewController.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/MSCoordinator/AppCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SearchMusicCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SettingCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
Labels: ✨ 신규 기능

#174 [iOS] 음악 검색 Scene
  iOS/Features/JourneyList/Sources/JourneyList/Model/DTO+Mapping.swift
  iOS/Features/SelectSong/Package.swift
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/project.pbxproj
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/xcshareddata/xcschemes/SelectSongDemo - Release.xcscheme
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/xcshareddata/xcschemes/SelectSongDemo.xcscheme
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/AppDelegate.swift
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/Base.lproj/LaunchScreen.storyboard
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/Base.lproj/Main.storyboard
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/Info.plist
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/SceneDelegate.swift
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/ViewController.swift
  iOS/Features/SelectSong/Sources/SelectSong/Model/DTO+Mapping.swift
  iOS/Features/SelectSong/Sources/SelectSong/Model/Song.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewController.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewModel.swift
  iOS/Features/SelectSong/Sources/SelectSong/SelectSong.swift
  iOS/Features/Spot/Sources/Spot/SpotSaveViewController.swift
  iOS/MSData/.swiftpm/xcode/xcshareddata/xcschemes/RepositoryTests.xcscheme
  iOS/MSData/Package.swift
  iOS/MSData/Sources/MSData/Repository/SongRepository.swift
  iOS/MSData/Sources/MSData/Resources/MockSong.json
  iOS/MSData/Tests/RepositoryTests/SongRepositoryTests.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/CombineCocoa/UITextField+Combine.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/SongListCell/SongListCell.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/SongListCell/SongListCellModel.swift
  iOS/MSUIKit/Sources/MSUIKit/MSTextField/MSTextField.swift
  iOS/commit
Labels: 🛠️ 환경 세팅

#189 [iOS] 여정 조회 브랜치 적용
  iOS/Features/RewindJourney/Package.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/AppDelegate.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/SceneDelegate.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewModel.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
Labels: ✨ 신규 기능

#144 [iOS] 여정 저장 Scene 비즈니스 로직 구현
  iOS/Features/Home/Package.swift
  iOS/Features/JourneyList/Sources/JourneyList/Model/DTOConvertor.swift
  iOS/Features/JourneyList/Sources/JourneyList/Model/Journey.swift
  iOS/Features/JourneyList/Sources/JourneyList/Model/Spot.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/SaveJourney/Package.swift
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo/Base.lproj/LaunchScreen.storyboard
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo/Base.lproj/Main.storyboard
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo/Info.plist
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo/SceneDelegate.swift
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo/ViewController.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Model/CellModel/SpotCellModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Model/Coordinate.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Model/DTO+Mapping.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Model/Journey.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Model/Song.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Model/Spot.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/ConfirmTitleAlertViewController.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneySection.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/SaveJourneyHeaderView.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/SaveJourneyMusicCell.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/SpotCell.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/SaveJourney.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Spot.swift
  iOS/Features/SelectSong/Package.swift
  iOS/MSData/.swiftpm/xcode/xcshareddata/xcschemes/RepositoryTests.xcscheme
  iOS/MSData/Package.swift
  iOS/MSData/Sources/MSData/DTO/Fragment/SpotDTO.swift
  iOS/MSData/Sources/MSData/DTO/JourneyDTO.swift
  iOS/MSData/Sources/MSData/DTO/PersonDTO.swift
  iOS/MSData/Sources/MSData/Repository/SpotRepository.swift
  iOS/MSData/Sources/MSData/Resources/MockSpot.json
  iOS/MSData/Tests/RepositoryTests/SpotRepositoryTests.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/CombineCocoa/UITextField+Combine.swift
  iOS/MSUIKit/Sources/MSDesignSystem/MSColor.swift
  iOS/MSUIKit/Sources/MSDesignSystem/Resources/MSColor.xcassets/Background Modal.colorset/Contents.json
  iOS/MSUIKit/Sources/MSDesignSystem/Resources/MSColor.xcassets/TextField Background.colorset/Contents.json
  iOS/MSUIKit/Sources/MSDesignSystem/Resources/MSColor.xcassets/TextField Typo.colorset/Contents.json
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/Journey.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/JourneyCell.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/JourneyCellModel.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/JourneyInfoView.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/MusicInfoView.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/Spot.swift
  iOS/MSUIKit/Sources/MSUIKit/MSAlertViewController.swift
  iOS/MSUIKit/Sources/MSUIKit/MSButton/MSButton.swift
  iOS/MSUIKit/Sources/MSUIKit/MSTextField/MSTextField.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/MSCoordinator/SaveJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: ✨ 신규 기능

#194 [iOS] HomeScene 컨플릭트 해소
  iOS/Features/RewindJourney/Package.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/AppDelegate.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/SceneDelegate.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewModel.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
Labels: 🧹 코드 정리

#195 [iOS] 음악 선택 Scene 컨플릭트 해소
  iOS/Features/RewindJourney/Package.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/AppDelegate.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/SceneDelegate.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewModel.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
Labels: 🧹 코드 정리

#196 [iOS] 여정 목록 Scene 컨플릭트 해소
  iOS/Features/RewindJourney/Package.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/AppDelegate.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/SceneDelegate.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewModel.swift
  iOS/MSCoreKit/Sources/MSNetworking/APIURL.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter.swift
Labels: 🧹 코드 정리

#191 [iOS] 음악 선택 브랜치 적용
  iOS/Features/JourneyList/Sources/JourneyList/Model/DTO+Mapping.swift
  iOS/Features/SelectSong/Package.swift
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/project.pbxproj
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/xcshareddata/xcschemes/SelectSongDemo - Release.xcscheme
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/xcshareddata/xcschemes/SelectSongDemo.xcscheme
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/AppDelegate.swift
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/Base.lproj/LaunchScreen.storyboard
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/Base.lproj/Main.storyboard
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/Info.plist
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/SceneDelegate.swift
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo/ViewController.swift
  iOS/Features/SelectSong/Sources/SelectSong/Model/DTO+Mapping.swift
  iOS/Features/SelectSong/Sources/SelectSong/Model/Song.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewController.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewModel.swift
  iOS/Features/SelectSong/Sources/SelectSong/SelectSong.swift
  iOS/Features/Spot/Sources/Spot/SpotSaveViewController.swift
  iOS/MSData/Sources/MSData/Repository/SongRepository.swift
  iOS/MSData/Sources/MSData/Resources/MockSong.json
  iOS/MSData/Tests/RepositoryTests/SongRepositoryTests.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSFoundation/Tests/MSLoggerTests/MSLoggerTests.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/SongListCell/SongListCell.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/SongListCell/SongListCellModel.swift
  iOS/MSUIKit/Sources/MSUIKit/MSTextField/MSTextField.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/commit
Labels: ✨ 신규 기능

#193 [iOS] 여정 리스트 브랜치 적용
  iOS/Features/JourneyList/Package.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/JourneyListHeaderView.swift
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheError.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheStorage.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheableData.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/Protocol/CacheStorage.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/MSImageFetcher.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/MSImageFetcherWrapper.swift
  iOS/MSCoreKit/Tests/MSCacheStorageTests/MSCacheStorageTests.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/JourneyCell.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/SpotPhotoImageView.swift
  iOS/MSUIKit/Sources/MSUIKit/MSImageFetcher/MSImageFetcher+UIImageView.swift
  iOS/MusicSpot/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
Labels: ✨ 신규 기능

#197 [iOS] Coordinator 적용
  iOS/Features/Home/Sources/Home/Coordinator/HomeNavigationDelegate.swift
  iOS/Features/Home/Sources/Home/HomeViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/ButtonStackView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/MapView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/NavigateMapButtonView.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/Coordinator/JourneyListNavigationDelegate.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/MSProgressViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/Coordinator/SelectSongNavigationDelegate.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/CameraView.swift
  iOS/Features/Spot/Sources/Spot/Presentation/Coordinator/SpotNavigationDelegate.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewModel.swift
  iOS/Features/Spot/Sources/Spot/Spot.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSData/Sources/MSData/Resources/MockJourney.json
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot.xcodeproj/xcshareddata/xcschemes/MusicSpot-Debug.xcscheme
  iOS/MusicSpot/MusicSpot/Info.plist
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SaveJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SearchMusicCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SelectSongCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SettingCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: ✨ 신규 기능

#187 [BE] 여정 조회 방식 변경 및 가장 최근 여정 찾기 api 구현
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyLoad.dto.ts
  BE/musicspot/src/journey/dto/journeyStart.dto.ts
  BE/musicspot/src/journey/schema/journey.schema.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ✨ 신규 기능, ♻️ 리팩토링

#204 [BE] ✨ : 유저 추가 api 구현
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/exception.filter.ts
  BE/musicspot/src/filters/user.exception.ts
  BE/musicspot/src/user/controller/user.controller.ts
  BE/musicspot/src/user/dto/createUser.dto.ts
  BE/musicspot/src/user/schema/user.schema.ts
  BE/musicspot/src/user/serivce/user.service.spec.ts
  BE/musicspot/src/user/serivce/user.service.ts
Labels: ✨ 신규 기능

#205 [BE] ✨ : 유저 추가 api 구현
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/exception.filter.ts
  BE/musicspot/src/filters/user.exception.ts
  BE/musicspot/src/user/controller/user.controller.ts
  BE/musicspot/src/user/dto/createUser.dto.ts
  BE/musicspot/src/user/schema/user.schema.ts
  BE/musicspot/src/user/serivce/user.service.spec.ts
  BE/musicspot/src/user/serivce/user.service.ts
Labels: ✨ 신규 기능

#206 [BE] journey 스키마 및 dto 수정입니다.
  BE/musicspot/public/release.html
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/journey/controller/journey.controller.spec.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckReq.dto.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckRes.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndReq.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndRes.dto.ts
  BE/musicspot/src/journey/dto/journeyEndResponse.dto.ts
  BE/musicspot/src/journey/dto/journeyMetadata.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journetRecordRes.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecordReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/journey/dto/song/artwork.dto.ts
  BE/musicspot/src/journey/dto/song/song.dto.ts
  BE/musicspot/src/journey/schema/artwork.schema.ts
  BE/musicspot/src/journey/schema/journey.schema.ts
  BE/musicspot/src/journey/schema/journeyMetadata.schema.ts
  BE/musicspot/src/journey/schema/song.schema.ts
  BE/musicspot/src/journey/service/journey.service.spec.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ♻️ 리팩토링

#207 [BE] ✨ : journey 관련 스키마 및 dto 수정
  BE/musicspot/public/release.html
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/journey/controller/journey.controller.spec.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckReq.dto.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckRes.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndReq.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndRes.dto.ts
  BE/musicspot/src/journey/dto/journeyEndResponse.dto.ts
  BE/musicspot/src/journey/dto/journeyMetadata.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journetRecordRes.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecordReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/journey/dto/song/artwork.dto.ts
  BE/musicspot/src/journey/dto/song/song.dto.ts
  BE/musicspot/src/journey/schema/artwork.schema.ts
  BE/musicspot/src/journey/schema/journey.schema.ts
  BE/musicspot/src/journey/schema/journeyMetadata.schema.ts
  BE/musicspot/src/journey/schema/song.schema.ts
  BE/musicspot/src/journey/service/journey.service.spec.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ♻️ 리팩토링

#208 [BE] ♻️ : swagger 응답 예시 수정 및 check 비지니스 로직 수정
  BE/musicspot/src/journey/controller/journey.controller.spec.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckReq.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndRes.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStartReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStartRes.dto.ts
  BE/musicspot/src/journey/dto/song/song.dto.ts
  BE/musicspot/src/journey/service/journey.service.spec.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ♻️ 리팩토링

#210 Be/task/small modify
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journey
  BE/musicspot/src/journey/dto/journeyEnd/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecord.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ♻️ 리팩토링

#212 [BE] ♻️ : spot 저장 비지니스 로직 수정
  BE/musicspot/public/release.html
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/common/s3/objectStorage.ts
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/exception.filter.ts
  BE/musicspot/src/filters/spot.exception.ts
  BE/musicspot/src/filters/user.exception.ts
  BE/musicspot/src/journey/controller/journey.controller.spec.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journey
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckReq.dto.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckRes.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndReq.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndRes.dto.ts
  BE/musicspot/src/journey/dto/journeyEndResponse.dto.ts
  BE/musicspot/src/journey/dto/journeyMetadata.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journetRecordRes.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecord.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecordReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStartReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStartRes.dto.ts
  BE/musicspot/src/journey/dto/song/artwork.dto.ts
  BE/musicspot/src/journey/dto/song/song.dto.ts
  BE/musicspot/src/journey/schema/artwork.schema.ts
  BE/musicspot/src/journey/schema/journey.schema.ts
  BE/musicspot/src/journey/schema/journeyMetadata.schema.ts
  BE/musicspot/src/journey/schema/song.schema.ts
  BE/musicspot/src/journey/service/journey.service.spec.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/schema/spot.schema.ts
  BE/musicspot/src/spot/service/spot.service.ts
  BE/musicspot/src/user/controller/user.controller.ts
  BE/musicspot/src/user/dto/createUser.dto.ts
  BE/musicspot/src/user/schema/user.schema.ts
  BE/musicspot/src/user/serivce/user.service.spec.ts
  BE/musicspot/src/user/serivce/user.service.ts
Labels: ♻️ 리팩토링

#213 [BE] ♻️ : spot 저장 비지니스 로직 수정
  BE/musicspot/src/common/s3/objectStorage.ts
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/spot.exception.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/schema/spot.schema.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ♻️ 리팩토링

#209 [iOS] Home Scene 내 비즈니스 로직 구현 및 지도 위 UI 구현
  iOS/Features/Home/HomeDemo/HomeDemo/SceneDelegate.swift
  iOS/Features/Home/Sources/Home/HomeViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Model/Coordinate.swift
  iOS/Features/Home/Sources/NavigateMap/Model/DTO+Mapping.swift
  iOS/Features/Home/Sources/NavigateMap/Model/Journey.swift
  iOS/Features/Home/Sources/NavigateMap/Model/Spot.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/CustomMarkerAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/Map/ClusterAnnotationView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/Map/CustomAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/Map/CustomAnnotationView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/Map/MSMapView.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/ImageFetchError.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSNetworkingTests.swift
  iOS/MSData/Sources/MSData/Resources/MockJourney.json
  iOS/MSDomain/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/Info.plist
Labels: ✨ 신규 기능

#203 [iOS] SpotScene 화면 레이아웃 수정 + 뒤로가기 추가
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewController.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
Labels: 🧹 코드 정리, ✨ 신규 기능

#220 [BE] journey/check의 dto 수정
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journey
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheck.dto.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckReq.dto.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckRes.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndReq.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndRes.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journetRecordRes.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecordReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStartReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStartRes.dto.ts
  BE/musicspot/src/journey/dto/song/song.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ♻️ 리팩토링

#225 [BE] ✨ : journey id에 따른 journey data 조회 api 구현
  .gitignore
  BE/musicspot/src/common/s3/objectStorage.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ✨ 신규 기능, ♻️ 리팩토링

#226 [BE] ♻️ :spot 생성 시 응답 수정
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ♻️ 리팩토링

#227 [BE] ♻️ : joruney check swagger 수정
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheck.dto.ts
Labels: ♻️ 리팩토링

#230 [BE] ♻️ : 네트워크 과정 필요사항 수정
  .gitignore
  BE/musicspot/src/common/s3/objectStorage.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journey
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheck.dto.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckReq.dto.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheckRes.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndReq.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEndRes.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journetRecordRes.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecordReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStartReq.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStartRes.dto.ts
  BE/musicspot/src/journey/dto/song/song.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ✨ 신규 기능, ♻️ 리팩토링

#214 [iOS] RewindJourney Network 관련 비즈니스 로직 Data 영역으로 이동
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/이슈-템플릿.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .gitmojirc.json
  BE/.githooks/pre-commit
  BE/README.md
  README.md
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/SceneDelegate.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Model/Spot.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/Coordinator/RewindJourneyNavigationDelegate.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/MSMusicView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/MSProgressViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewController+Gesture.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/RewindJourneyViewModel.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindJourneyCoordinator.swift
  setup
Labels: ♻️ 리팩토링

#216 [iOS] Home Scene 내 UI 드로잉 관련 비즈니스 로직 구현 release에 dump
  iOS/Features/Home/HomeDemo/HomeDemo/SceneDelegate.swift
  iOS/Features/Home/Sources/Home/Model/DTO+Mapping.swift
  iOS/Features/Home/Sources/Home/Model/Journey.swift
  iOS/Features/Home/Sources/Home/Model/Spot.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Model/Coordinate.swift
  iOS/Features/Home/Sources/NavigateMap/Model/DTO+Mapping.swift
  iOS/Features/Home/Sources/NavigateMap/Model/Journey.swift
  iOS/Features/Home/Sources/NavigateMap/Model/Spot.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/ButtonStackView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/CustomMarkerAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/Map/ClusterAnnotationView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/Map/CustomAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/Map/CustomAnnotationView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/Map/MSMapView.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Model/Coordinate.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/ImageFetchError.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSCombineNetworkingTests.swift
  iOS/MSData/Sources/MSData/DTO/Fragment/SpotDTO.swift
  iOS/MSData/Sources/MSData/Repository/NavigateMapRepository.swift
  iOS/MSData/Sources/MSData/Resources/MockJourney.json
  iOS/MSDomain/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/Info.plist
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
Labels: ✨ 신규 기능

#233 [BE] ♻️ : spot 생성 시 응답 변경
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheck.dto.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: 🐞 버그 픽스

#235 [iOS] 문서 복구
  .gitignore
  .gitmojirc.json
  BE/.githooks/pre-commit
  BE/README.md
  README.md
  iOS/MSDomain/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  setup
Labels: 📝 독스 작성

#249 [iOS] 실시간 Polyline 보정 로직 구현
  iOS/Features/Home/Package.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
Labels: ✨ 신규 기능

#252 [iOS] 여정 시작 네트워킹 추가
  iOS/Features/Home/Sources/Home/Presentation/Coordinator/HomeNavigationDelegate.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/MSCollectionView.swift
  iOS/Features/Spot/Sources/Spot/Presentation/Coordinator/SpotNavigationDelegate.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewModel.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPBody.swift
  iOS/MSData/Sources/MSData/DTO/Fragment/CoordinateDTO.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSData/Sources/MSData/Repository/SongRepository.swift
  iOS/MSDomain/Sources/MSDomain/Model/Spot.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
Labels: ✨ 신규 기능

#224 [iOS] Spot upload, download 기능 구현 + multipart 요청을 위한 네트워크 로직 변경
  iOS/Features/Home/Package.swift
  iOS/Features/Home/Sources/Home/Presentation/Coordinator/HomeNavigationDelegate.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/MSCollectionView.swift
  iOS/Features/Spot/Sources/Spot/Presentation/CameraView.swift
  iOS/Features/Spot/Sources/Spot/Presentation/Coordinator/SpotNavigationDelegate.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewModel.swift
  iOS/Features/Spot/Sources/Spot/Protocol/Positionable.swift
  iOS/Features/Spot/SpotDemo/SpotDemo/SceneDelegate.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPBody.swift
  iOS/MSCoreKit/Sources/MSNetworking/MultipartData.swift
  iOS/MSCoreKit/Sources/MSNetworking/Protocol/Router.swift
  iOS/MSData/Sources/MSData/DTO/Fragment/CoordinateDTO.swift
  iOS/MSData/Sources/MSData/DTO/Request/Spot/CreateSpotRequestDTO.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSData/Sources/MSData/Repository/SongRepository.swift
  iOS/MSData/Sources/MSData/Repository/SpotRepository.swift
  iOS/MSData/Sources/MSData/Repository/UserRepository.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+Body.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+Header.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+Method.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+URL.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter.swift
  iOS/MSDomain/Sources/MSDomain/Model/Spot.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot.xcodeproj/xcshareddata/xcschemes/MusicSpot-Mock.xcscheme
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
Labels: ♻️ 리팩토링

#253 [iOS] 린트 경고 해소
  iOS/Features/Home/HomeDemo/HomeDemo/AppDelegate.swift
  iOS/Features/Home/HomeDemo/HomeDemo/SceneDelegate.swift
  iOS/Features/Home/HomeDemo/HomeDemo/ViewController.swift
  iOS/Features/Home/Package.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/View/RecordJourneyButtonView.swift
  iOS/Features/JourneyList/JourneyListDemo/JourneyListDemo/AppDelegate.swift
  iOS/Features/JourneyList/JourneyListDemo/JourneyListDemo/SceneDelegate.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewModel.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/MSCollectionView.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/AppDelegate.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/SceneDelegate.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/ViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewController+Gesture.swift
  iOS/Features/SaveJourney/Package.swift
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo/AppDelegate.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Model/SpotCellModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController+CollectionView.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/SpotCell.swift
  iOS/Features/SelectSong/Package.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewController.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewController.swift
  iOS/Features/Spot/SpotDemo/SpotDemo/AppDelegate.swift
  iOS/Features/Spot/SpotDemo/SpotDemo/SceneDelegate.swift
  iOS/MSCoreKit/Sources/MSCacheStorage/MSCacheError.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/MSImageFetcher.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/MSImageFetcherWrapper.swift
  iOS/MSCoreKit/Sources/MSKeychainStorage/MSKeychainStorage+Constants.swift
  iOS/MSCoreKit/Sources/MSKeychainStorage/MSKeychainStorage+Transaction.swift
  iOS/MSCoreKit/Sources/MSPersistentStorage/FileManager/FileManagerStorage+Error.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSCombineNetworkingTests.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/MSConcurrencyNetworkingTests.swift
  iOS/MSCoreKit/Tests/MSNetworkingTests/Mock/MockURLProtocol.swift
  iOS/MSData/Sources/MSData/DTO/Request/Spot/CreateSpotRequestDTO.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+Body.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+URL.swift
  iOS/MSData/Sources/MSData/Router/User/UserRouter+Body.swift
  iOS/MSData/Sources/MSData/Router/User/UserRouter+URL.swift
  iOS/MSData/Sources/MSData/Router/User/UserRouter.swift
  iOS/MSData/Tests/RepositoryTests/SpotRepositoryTests.swift
  iOS/MSFoundation/Package.swift
  iOS/MSFoundation/Sources/MSExtension/String+.swift
  iOS/MSFoundation/Sources/MSExtension/URL+.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSUIKit/Package.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/SongListCell/SongListCell.swift
  iOS/MSUIKit/Sources/MSUIKit/Extension/NSCollectionLayoutGroup+.swift
  iOS/MSUIKit/Sources/MSUIKit/MSAlertViewController.swift
  iOS/MSUIKit/Sources/MSUIKit/MSBottomSheetViewController/MSBottomSheetViewController.swift
Labels: 🧹 코드 정리

#255 [iOS] 음악 관련 로직 추가
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/ButtonStateFactor.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneySection.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController+CollectionView.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/MusicControlButton.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/SaveJourneyMusicCell.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/SpotCell.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/Coordinator/SelectSongNavigationDelegate.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewController.swift
  iOS/Features/SelectSong/Sources/SelectSong/Presentation/SelectSongViewModel.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPBody.swift
  iOS/MSData/Sources/MSData/Repository/SongRepository.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/EmptyCell.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/SongListCell/SongListCell.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/SongListCell/SongListCellModel.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/MSCoordinator/SaveJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SelectSongCoordinator.swift
Labels: ✨ 신규 기능

#257 [iOS] Spot Scene 관련 Bug fix
  iOS/.swiftlint.yml
  iOS/Features/Home/Package.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewController.swift
  iOS/Features/Spot/SpotDemo/SpotDemo/SceneDelegate.swift
  iOS/MSCoreKit/Sources/MSNetworking/HTTPBody.swift
  iOS/MSCoreKit/Sources/MSNetworking/MultipartData.swift
  iOS/MSCoreKit/Sources/MSNetworking/Protocol/Router.swift
  iOS/MSCoreKit/Tests/MSCacheStorageTests/MSCacheStorageTests.swift
  iOS/MSData/Sources/MSData/DTO/Fragment/CoordinateDTO.swift
  iOS/MSData/Sources/MSData/Repository/SpotRepository.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+Body.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+URL.swift
  iOS/MSUIKit/Sources/MSDesignSystem/MSFont.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
Labels: 🐞 버그 픽스

#262 [BE] coordinate dto 수정
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/filters/exception.filter.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheck.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecord.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
Labels: ♻️ 리팩토링

#266 [BE] check api 추가
  BE/musicspot/src/journey/controller/journey.controller.ts
Labels: ♻️ 리팩토링

#268 [BE] check 로직에 try catch 추가
  BE/musicspot/src/journey/controller/journey.controller.ts
Labels: ♻️ 리팩토링

#269 [BE] ♻️ : Coordinate 전반적인 예외 처리 로직 수정
  BE/musicspot/src/common/decorator/coordinate.decorator.ts
  BE/musicspot/src/common/util/coordinate.util.ts
  BE/musicspot/src/filters/exception.enum.ts
  BE/musicspot/src/filters/journey.exception.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecord.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
Labels: ♻️ 리팩토링

#271 [BE] ♻️ : check 비지니스 로직 수정
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ♻️ 리팩토링

#272 [iOS] 여정을 Map 위에 표시하는 기능 구현
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMapViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewController.swift
  iOS/MSData/Sources/MSData/DTO/Request/Journey/RecordCoordinateRequestDTO.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter+Body.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter+Method.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter+URL.swift
  iOS/MSData/Sources/MSData/Router/Journey/JourneyRouter.swift
Labels: ✨ 신규 기능

#263 [iOS] 송신 이미지 확장자 변경 및 다운샘플링
  iOS/MSCoreKit/Sources/MSNetworking/MultipartData.swift
Labels: ✨ 신규 기능

#273 [iOS] local storage
  iOS/MSCoreKit/Sources/MSPersistentStorage/CoreData/README.md
  iOS/MSCoreKit/Sources/MSPersistentStorage/FileManager/FileManagerStorage.swift
  iOS/MSCoreKit/Sources/MSPersistentStorage/Protocol/MSPersistentStorage.swift
  iOS/MSCoreKit/Tests/MSPersistentStorageTests/FileManagerStorageTests.swift
  iOS/MSData/Package.swift
  iOS/MSData/Sources/MSData/Repository/LocalRepository.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
Labels: ✨ 신규 기능

#276 [iOS] UI 버그 수정
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewController+Gesture.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewController.swift
Labels: 🐞 버그 픽스

#278 [iOS] Local Storage coordinate 외 정보들도 저장할 수 있게끔 수정
  iOS/MSCoreKit/Sources/MSPersistentStorage/FileManager/FileManagerStorage.swift
  iOS/MSCoreKit/Tests/MSPersistentStorageTests/FileManagerStorageTests.swift
  iOS/MSData/.swiftpm/xcode/xcshareddata/xcschemes/MSData.xcscheme
  iOS/MSData/Sources/MSData/Repository/JourneyRepository+Persistable.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSData/Sources/MSData/Repository/LocalRepository.swift
  iOS/MSData/Tests/RepositoryTests/PersistableRepositoryTests.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
Labels: 🐞 버그 픽스, ✨ 신규 기능

#283 [iOS] 로컬 저장소 활용
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/Coordinator/SaveJourneyNavigationDelegate.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewModel.swift
  iOS/MSCoreKit/Sources/MSPersistentStorage/FileManager/FileManagerStorage.swift
  iOS/MSCoreKit/Sources/MSPersistentStorage/Protocol/MSPersistentStorage.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSData/Sources/MSData/Repository/Persistable.swift
  iOS/MSData/Sources/MSData/Repository/SpotRepository.swift
  iOS/MSData/Tests/RepositoryTests/PersistableRepositoryTests.swift
  iOS/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SaveJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SelectSongCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
Labels: ✨ 신규 기능

#288 [iOS] 여정 조회 URL을 주입받아 사용하도록 변경
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/Coordinator/JourneyListNavigationDelegate.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/RewindJourney/Package.swift
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/xcshareddata/xcschemes/RewindJourneyDemo.xcscheme
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo/Base.lproj/Main.storyboard
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewModel.swift
  iOS/MSCoreKit/Sources/MSImageFetcher/MSImageFetcher.swift
  iOS/MSData/Sources/MSData/Repository/SpotRepository.swift
  iOS/MSData/Sources/MSData/Router/Spot/SpotRouter+URL.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindJourneyCoordinator.swift
Labels: ♻️ 리팩토링

#289 [iOS] 여정 기록 중 지도 위에 Spot 등록 로직 구현
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/Coordinator/SpotNavigationDelegate.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotSaveViewModel.swift
  iOS/MSFoundation/Sources/MSUserDefaults/UserDefaultsWrapped.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/SpotCoordinator.swift
Labels: ✨ 신규 기능

#294 [iOS] 여정 완료 후 홈으로 돌아가지 않는 현상 수정
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewModel.swift
  iOS/MSCoreKit/Sources/MSPersistentStorage/FileManager/FileManagerStorage.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/JourneyCell.swift
Labels: 🐞 버그 픽스

#296 [iOS] 여정 목록 헤더 & UserID 관련 로직 수정
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/RecordJourney/RecordJourneyViewModel.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/MSCollectionView.swift
  iOS/MSCoreKit/Sources/MSKeychainStorage/MSKeychainStorage.swift
  iOS/MSData/Sources/MSData/DTO/Response/Journey/RecordJourneyResponseDTO.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSData/Sources/MSData/Repository/UserRepository.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: 🐞 버그 픽스

#299 [iOS] Home 관련 Bug Fix 수정
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
Labels: 🐞 버그 픽스

#300 [iOS] Map, Rewind Scene BugFix
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/MSProgressView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/MSProgressViewModel.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewModel.swift
Labels: 🐞 버그 픽스

#301 [iOS] UserID 관련 버그 수정
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController+EventListener.swift
  iOS/MSData/Sources/MSData/Repository/JourneyRepository.swift
  iOS/MSData/Sources/MSData/Repository/SpotRepository.swift
  iOS/MSData/Sources/MSData/Repository/UserRepository.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: 🐞 버그 픽스

#302 [iOS] HomeViewController `isRecording` 관련 안정성 향상
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController+EventListener.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
Labels: 🐞 버그 픽스

#304 [BE] : release
  .gitignore
  BE/musicspot/public/release.html
Labels: 🚀 배포

#303 [iOS] 실시간으로 Coordinate 기록 시 위치 필터링 구현
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: 🐞 버그 픽스, ✨ 신규 기능

#305 [iOS] 여정 목록 헤더 업데이트 오류 수정
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/VIew/JourneyListHeaderView.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewModel.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: 🐞 버그 픽스

#308 [BE] : checjk fix
  BE/musicspot/src/journey/service/journey.service.ts
Labels: 🐞 버그 픽스

#307 [iOS] 여정 조회 음악 재생 기능 추가
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/Coordinator/JourneyListNavigationDelegate.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/MSMusicPlayerView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/MSMusicView.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewController.swift
  iOS/Features/RewindJourney/Sources/RewindJourney/Presentation/RewindJourneyViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController.swift
  iOS/MSData/Sources/MSData/Repository/Error/Repository+Error.swift
  iOS/MSData/Sources/MSData/Repository/SongRepository.swift
  iOS/MSDomain/Sources/MSDomain/Model/Music+MusicKit.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSUIKit/Sources/MSUIKit/Extension/UIColor+HEX.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/MSCoordinator/RewindJourneyCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: ✨ 신규 기능

#311 [BE] ♻️ : spot 저장 시 journey의 coordinates에 spot의 coordinate추가
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ♻️ 리팩토링

#314 [BE] ♻️ : coordinate 판별 decorator 로직 수정 및 spot 저장 시 예외처리
  BE/musicspot/src/common/util/coordinate.util.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ♻️ 리팩토링

#310 [iOS] 시작이 되지 않는 현상 수정
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/MSCoreKit/Sources/MSKeychainStorage/MSKeychainStorage+Constants.swift
  iOS/MSUIKit/Sources/MSUIKit/Cells/JourneyCell/JourneyCell.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: 🐞 버그 픽스

#319 [BE] ♻️ : 마지막 journey의 완료 여부를 확인하는 api 로직 수정
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyLast.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ♻️ 리팩토링

#321 [BE] : 배포 링크 추가
  BE/musicspot/public/release.html
Labels: 🚀 배포

#322 [BE] 배포 버전 수정
  BE/musicspot/public/release.html
Labels: 🚀 배포

#324 [BE] : gitignore 충돌 해결
  .gitignore
Labels: ♻️ 리팩토링

#325 [BE] : 1.0.0 배포
  .gitignore
  BE/musicspot/public/release.html
  BE/musicspot/src/common/util/coordinate.util.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyLast.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/service/spot.service.ts
  iOS/Features/Home/HomeDemo/HomeDemo.xcodeproj/project.pbxproj
  iOS/Features/Home/HomeDemo/HomeDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Features/Home/HomeDemo/HomeDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/JourneyList/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/Features/JourneyList/JourneyListDemo/JourneyListDemo.xcodeproj/project.pbxproj
  iOS/Features/JourneyList/JourneyListDemo/JourneyListDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Features/JourneyList/JourneyListDemo/JourneyListDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/JourneyList/JourneyListDemo/JourneyListDemo.xcodeproj/xcshareddata/xcschemes/JourneyListDemo.xcscheme
  iOS/Features/RewindJourney/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo.xcodeproj/project.pbxproj
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Features/SaveJourney/SaveJourneyDemo/SaveJourneyDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/project.pbxproj
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/xcshareddata/xcschemes/SelectSongDemo - Release.xcscheme
  iOS/Features/SelectSong/SelectSongDemo/SelectSongDemo.xcodeproj/xcshareddata/xcschemes/SelectSongDemo.xcscheme
  iOS/Features/Spot/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/Features/Spot/SpotDemo/SpotDemo.xcodeproj/project.pbxproj
  iOS/Features/Spot/SpotDemo/SpotDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Features/Spot/SpotDemo/SpotDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MSData/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/commit
Labels: 🚀 배포

#312 [Together] README 작성
  README.md
Labels: 📝 독스 작성

#337 [Together] PR Template 추가
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🛠️ 환경 세팅

#338 [iOS] TestFlight 배포
  .github/workflows/TestFlight_deploy.yml
  .github/workflows/Xcode_build_test.yml
  .gitignore
  ExportOptions.plist
  iOS/.gitignore
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Features/RewindJourney/RewindJourneyDemo/RewindJourneyDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MusicSpot/MusicSpot.xcodeproj/xcshareddata/xcschemes/MusicSpot-Release.xcscheme
  iOS/MusicSpot/MusicSpot/Info.plist
  iOS/commit
Labels: 🛠️ 환경 세팅, 🚀 배포
