Repository boostcampwm2023/iOS01-MusicSpot, pull requests merged in 2024-02, with the labels that each got.

#359 ♻️ : 마지막 journey 진행 중 여부 확인 api response dto 로 수정
  BE/musicspot/src/journey/controller/journey.controller.ts
Labels: 🐞 버그 픽스, ♻️ 리팩토링

#365 [BE] ✨ : coordinate 양식 수정에 따른 journey entity 및 비지니스 로직 수정
  .github/workflows/action.yml
  BE/musicspot/src/common/decorator/coordinate.v2.decorator.ts
  BE/musicspot/src/common/util/coordinate.v2.util.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/v2/endJourney.v2.dto.ts
  BE/musicspot/src/journey/dto/v2/startJourney.v2.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ✨ 신규 기능

#366 [BE] ✨ : coordinate 형식 변경에 따른 비지니스 로직 수정2
  BE/musicspot/src/common/util/coordinate.v2.util.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/service/journey.service.ts
Labels: ✨ 신규 기능

#367 [BE] ✨ : coordinate 형식 변경에 따른 spot dto 및 비지니스 로직 수정
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheck.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/v2/recordSpot.v2.dto.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ✨ 신규 기능

#368 [BE] ✨ : coordinate 형식 변경에 따른 v2 api 구현
  .github/workflows/action.yml
  BE/musicspot/src/common/decorator/coordinate.v2.decorator.ts
  BE/musicspot/src/common/util/coordinate.v2.util.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheck.dto.ts
  BE/musicspot/src/journey/dto/v2/endJourney.v2.dto.ts
  BE/musicspot/src/journey/dto/v2/startJourney.v2.dto.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/v2/recordSpot.v2.dto.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ✨ 신규 기능

#371 Be/task/append photo add delete api
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/photo/controller/photo.controller.ts
  BE/musicspot/src/photo/module/photo.module.ts
  BE/musicspot/src/photo/service/photo.service.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/module/spot.module.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ✨ 신규 기능

#373 [BE] ✨ : api path 변경
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyCheck/journeyCheck.dto.ts
  BE/musicspot/src/journey/dto/v2/endJourney.v2.dto.ts
  BE/musicspot/src/journey/dto/v2/jounrey.dto.ts
  BE/musicspot/src/journey/dto/v2/lastJourney.dto.v2.ts
  BE/musicspot/src/journey/entities/journey.v2.entity.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/photo/controller/photo.controller.ts
  BE/musicspot/src/photo/dto/photo.dto.ts
  BE/musicspot/src/photo/entity/photo.entity.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/v2/recordSpot.v2.dto.ts
  BE/musicspot/src/spot/dto/v2/spot.dto.ts
  BE/musicspot/src/spot/entities/spot.v2.entity.ts
  BE/musicspot/src/user/controller/user.controller.ts
  BE/musicspot/src/user/dto/startJourney.dto.ts
  BE/musicspot/src/user/module/user.module.ts
  BE/musicspot/src/user/serivce/user.service.ts
Labels: ♻️ 리팩토링

#377 [BE] ✨ : swagger 보안 적용
  BE/musicspot/src/main.ts
  package-lock.json
  package.json
Labels: ✨ 신규 기능

#376 [iOS] 업데이트 화면
  iOS/Features/Home/Package.swift
  iOS/Features/JourneyList/Package.swift
  iOS/Features/Launch/.gitignore
  iOS/Features/Launch/Package.swift
  iOS/Features/Launch/Sources/Splash/Bundle+Module.swift
  iOS/Features/Launch/Sources/Splash/Coordinator/SplashNavigationDelegate.swift
  iOS/Features/Launch/Sources/Splash/Resources/Splash/Assets.xcassets/Contents.json
  iOS/Features/Launch/Sources/Splash/Resources/Splash/Assets.xcassets/logo.imageset/Contents.json
  iOS/Features/Launch/Sources/Splash/Resources/Splash/Assets.xcassets/logo.imageset/logo.pdf
  iOS/Features/Launch/Sources/Splash/Resources/Splash/SplashScreen.storyboard
  iOS/Features/Launch/Sources/Splash/SplashViewController.swift
  iOS/Features/Launch/Sources/Splash/SplashViewModel.swift
  iOS/Features/Launch/Sources/Version/VersionView.swift
  iOS/Features/Launch/Sources/Version/VersionViewController.swift
  iOS/Features/Spot/Package.swift
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/VersionManager/AppStoreLookUp.swift
  iOS/MSCoreKit/Sources/VersionManager/VersionManager+Error.swift
  iOS/MSCoreKit/Sources/VersionManager/VersionManager.swift
  iOS/MSCoreKit/Tests/VersionManagerTests/VersionManagerTests.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSFusion/Sources/MSDesignSystem/MSColor.swift
  iOS/MSFusion/Sources/MSDesignSystem/MSFont.swift
  iOS/MSFusion/Sources/MSDesignSystem/MSIcon.swift
  iOS/MSFusion/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Logos/Contents.json
  iOS/MSFusion/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Logos/Logo Background.imageset/Contents.json
  iOS/MSFusion/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Logos/Logo Background.imageset/MusicSpot Logo.pdf
  iOS/MSFusion/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Logos/Logo Transparent.imageset/Contents.json
  iOS/MSFusion/Sources/MSDesignSystem/Resources/MSIcon.xcassets/Logos/Logo Transparent.imageset/logo.pdf
  iOS/MSFusion/Sources/MSSwiftUI/MSButton/MSButton.swift
  iOS/MusicSpot.xcworkspace/contents.xcworkspacedata
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/Base.lproj/LaunchScreen.storyboard
  iOS/MusicSpot/MusicSpot/Coordinator/AppCoordinator.swift
  iOS/MusicSpot/MusicSpot/Coordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: ✨ 신규 기능
