Repository boostcampwm2023/iOS01-MusicSpot, pull requests merged in 2024-01, with the labels that each got.

#344 [BE] ♻️ : BE/release -> main merge 문제 해결 시 누락된 코드 복구
  .gitignore
  BE/musicspot/src/common/util/coordinate.util.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/service/spot.service.spec.ts
  BE/musicspot/src/spot/service/spot.service.ts
Labels: ♻️ 리팩토링

#342 [iOS] Persistable 개선
  .github/ISSUE_TEMPLATE/issue_template.md
  README.md
  iOS/Features/Spot/Sources/Spot/Presentation/SaveSpotViewModel.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/JourneyRepository.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/SpotRepository.swift
  iOS/MSData/Sources/MSData/Util/LocalRecordingManager.swift
  iOS/MSData/Tests/RepositoryTests/PersistentManagerTests.swift
  iOS/MSDomain/Sources/MSDomain/Model/Spot.swift
  iOS/MSDomain/Sources/MSDomain/Repository/JourneyRepository.swift
  iOS/MSDomain/Sources/MSDomain/Repository/Protocol/Persistable.swift
  iOS/MSDomain/Sources/MSDomain/Repository/SpotRepository.swift
Labels: ♻️ 리팩토링

#340 [iOS] 패키지 구조 리팩토링
  .github/ISSUE_TEMPLATE/issue_template.md
  README.md
  iOS/Features/Home/Package.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/JourneyList/Package.swift
  iOS/Features/JourneyList/Sources/JourneyList/Presentation/JourneyListViewController.swift
  iOS/Features/RewindJourney/Package.swift
  iOS/Features/SaveJourney/Package.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/SaveJourneyMusicCell.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/View/SpotCell.swift
  iOS/Features/SelectSong/Package.swift
  iOS/Features/Spot/Package.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SaveSpotViewModel.swift
  iOS/Features/Spot/SpotDemo/SpotDemo/AppDelegate.swift
  iOS/Features/Spot/SpotDemo/SpotDemo/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/Features/Spot/SpotDemo/SpotDemo/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Features/Spot/SpotDemo/SpotDemo/Assets.xcassets/Contents.json
  iOS/Features/Spot/SpotDemo/SpotDemo/Base.lproj/LaunchScreen.storyboard
  iOS/Features/Spot/SpotDemo/SpotDemo/Base.lproj/Main.storyboard
  iOS/Features/Spot/SpotDemo/SpotDemo/Info.plist
  iOS/Features/Spot/SpotDemo/SpotDemo/SceneDelegate.swift
  iOS/Features/Spot/SpotDemo/SpotDemo/ViewController.swift
  iOS/MSCoreKit/.swiftpm/xcode/xcshareddata/xcschemes/MSFetcherTests.xcscheme
  iOS/MSCoreKit/Package.swift
  iOS/MSCoreKit/Sources/MSFetcher/MSFetcher.swift
  iOS/MSCoreKit/Tests/MSFetcherTests/MSFetcherTests.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/Error/Repository+Error.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/JourneyRepository.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/SongRepository.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/SpotRepository.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/UserRepository.swift
  iOS/MSData/Sources/MSData/Util/LocalRecordingManager.swift
  iOS/MSData/Tests/RepositoryTests/PersistentManagerTests.swift
  iOS/MSDomain/Sources/MSDomain/Model/Spot.swift
  iOS/MSDomain/Sources/MSDomain/Repository/JourneyRepository.swift
  iOS/MSDomain/Sources/MSDomain/Repository/SongRepository.swift
  iOS/MSDomain/Sources/MSDomain/Repository/SpotRepository.swift
  iOS/MSDomain/Sources/MSDomain/Repository/UserRepository.swift
  iOS/MSUIKit/Package.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
Labels: ♻️ 리팩토링

#345 [iOS] 백그라운드 업데이트
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController+EventListener.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/Info.plist
Labels: ✨ 신규 기능

#348 [iOS] 지도 그라디언트
  iOS/Features/Home/Sources/Home/Presentation/Coordinator/HomeNavigationDelegate.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/Home/Presentation/HomeViewModel.swift
  iOS/Features/Home/Sources/Home/Presentation/RecordJourneyButtonStackView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController+EventListener.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/View/Map/ClusterAnnotationView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/View/Map/SpotAnnotation.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/View/Map/SpotAnnotationView.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/NavigateMap/NavigateMapViewModel.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/RecordJourney/RecordJourneyViewModel.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/Coordinator/SaveJourneyNavigationDelegate.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewController.swift
  iOS/Features/SaveJourney/Sources/SaveJourney/Presentation/SaveJourneyViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/Coordinator/SpotNavigationDelegate.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SaveSpotViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SaveSpotViewModel.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewController.swift
  iOS/Features/Spot/Sources/Spot/Presentation/SpotViewModel.swift
  iOS/MSCoreKit/Sources/MSPersistentStorage/FileManager/FileManagerStorage.swift
  iOS/MSCoreKit/Sources/MSPersistentStorage/Protocol/MSPersistentStorage.swift
  iOS/MSData/Sources/MSData/DTO/Response/Journey/DeleteJourneyResponseDTO.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/JourneyRepository.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/SpotRepository.swift
  iOS/MSData/Sources/MSData/Storage/RecordingJourneyStorage.swift
  iOS/MSData/Sources/MSData/Util/LocalRecordingManager.swift
  iOS/MSData/Tests/RepositoryTests/PersistentManagerTests.swift
  iOS/MSDomain/Sources/MSDomain/Model/RecordingJourney.swift
  iOS/MSDomain/Sources/MSDomain/Repository/JourneyRepository.swift
  iOS/MSFoundation/Sources/MSConstants/Constants.swift
  iOS/MSFoundation/Sources/MSLogger/MSLogCategory.swift
  iOS/MSUIKit/Sources/MSUIKit/MSAlertViewController.swift
  iOS/MSUIKit/Sources/MSUIKit/MSGradientLayer.swift
  iOS/MusicSpot/MusicSpot.xcodeproj/project.pbxproj
  iOS/MusicSpot/MusicSpot/Coordinator/HomeCoordinator.swift
  iOS/MusicSpot/MusicSpot/Coordinator/Protocol/SaveJourneyFlowCoordinatorFinishDelegate.swift
  iOS/MusicSpot/MusicSpot/Coordinator/Protocol/SpotCoordinatorFinishDelegate.swift
  iOS/MusicSpot/MusicSpot/Coordinator/SaveJourneyFlowCoordinator.swift
  iOS/MusicSpot/MusicSpot/Coordinator/SpotCoordinator.swift
  iOS/MusicSpot/MusicSpot/SceneDelegate.swift
Labels: 🎨 UI

#315 [iOS] 여정 드로잉에 필요한 filter를 평균값을 활용하도록 수정
  iOS/Features/Home/Sources/Home/Presentation/HomeViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/Common/MapViewController.swift
  iOS/Features/Home/Sources/NavigateMap/Presentation/RecordJourney/RecordJourneyViewModel.swift
  iOS/MSData/Sources/MSData/RepositoryImplementation/UserRepository.swift
Labels: ✨ 신규 기능

#352 [BE] ♻️ : db수정(mongodb -> mysql)
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/common/decorator/customRepository.decorator.ts
  BE/musicspot/src/common/util/coordinate.util.ts
  BE/musicspot/src/dynamic.module.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyDelete.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecord.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/journey/entities/journey.entity.ts
  BE/musicspot/src/journey/module/journey.module.ts
  BE/musicspot/src/journey/repository/journey.repository.ts
  BE/musicspot/src/journey/schema/artwork.schema.ts
  BE/musicspot/src/journey/schema/journey.schema.ts
  BE/musicspot/src/journey/schema/journeyMetadata.schema.ts
  BE/musicspot/src/journey/schema/song.schema.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/entities/spot.entity.ts
  BE/musicspot/src/spot/module/spot.module.ts
  BE/musicspot/src/spot/repository/spot.repository.ts
  BE/musicspot/src/spot/service/spot.service.ts
  BE/musicspot/src/user/controller/user.controller.ts
  BE/musicspot/src/user/entities/user.entity.ts
  BE/musicspot/src/user/module/user.module.ts
  BE/musicspot/src/user/repository/user.repository.ts
  BE/musicspot/src/user/schema/user.schema.ts
  BE/musicspot/src/user/serivce/user.service.ts
Labels: ♻️ 리팩토링

#356 [BE] :rec\
  .gitignore
  BE/musicspot/.gitignore
  BE/musicspot/package-lock.json
  BE/musicspot/package.json
  BE/musicspot/src/app.module.ts
  BE/musicspot/src/common/decorator/customRepository.decorator.ts
  BE/musicspot/src/common/util/coordinate.util.ts
  BE/musicspot/src/dynamic.module.ts
  BE/musicspot/src/journey/controller/journey.controller.ts
  BE/musicspot/src/journey/dto/journeyDelete.dto.ts
  BE/musicspot/src/journey/dto/journeyEnd/journeyEnd.dto.ts
  BE/musicspot/src/journey/dto/journeyRecord/journeyRecord.dto.ts
  BE/musicspot/src/journey/dto/journeyStart/journeyStart.dto.ts
  BE/musicspot/src/journey/entities/journey.entity.ts
  BE/musicspot/src/journey/module/journey.module.ts
  BE/musicspot/src/journey/repository/journey.repository.ts
  BE/musicspot/src/journey/schema/artwork.schema.ts
  BE/musicspot/src/journey/schema/journey.schema.ts
  BE/musicspot/src/journey/schema/journeyMetadata.schema.ts
  BE/musicspot/src/journey/schema/song.schema.ts
  BE/musicspot/src/journey/service/journey.service.ts
  BE/musicspot/src/spot/controller/spot.controller.ts
  BE/musicspot/src/spot/dto/recordSpot.dto.ts
  BE/musicspot/src/spot/entities/spot.entity.ts
  BE/musicspot/src/spot/module/spot.module.ts
  BE/musicspot/src/spot/repository/spot.repository.ts
  BE/musicspot/src/spot/service/spot.service.spec.ts
  BE/musicspot/src/spot/service/spot.service.ts
  BE/musicspot/src/user/controller/user.controller.ts
  BE/musicspot/src/user/entities/user.entity.ts
  BE/musicspot/src/user/module/user.module.ts
  BE/musicspot/src/user/repository/user.repository.ts
  BE/musicspot/src/user/schema/user.schema.ts
  BE/musicspot/src/user/serivce/user.service.ts
Labels: ♻️ 리팩토링
